.navbar {
  backdrop-filter: blur(20px) !important;
}

.offcanvas-body {
  justify-content: flex-end !important;
}



.nav-link:focus,
.nav-link:hover {
  color: white;
  opacity: 0.8;
}

/* TOGGLERS SHADOW AND BORDER OVERRIDE */
.navbar-toggler {
  transition: none !important;
  border: none !important;
}
.navbar-toggler:hover {
  opacity: 0.8 !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

.btn-close:focus {
  box-shadow: none !important;
}


.nav-link {
  color: white !important;
  font-family: var(--font-kronaone) !important;
}


.dropdown-item.active{
  background-color: white !important;
  color: black !important;
}

