.navbar {
  backdrop-filter: blur(20px) !important;
}

.dropdown-item:active {
  color: black !important;
  background-color: white !important;
}

.offcanvas-body {
  justify-content: flex-end !important;
}

.nav-link {
  color: white !important;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
  opacity: 0.8;
}
.navbar-toggler {
  transition: none !important;
  border: none !important;
}
.navbar-toggler:hover {
  opacity: 0.8 !important;
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

#offcanvasNavbar {
  background-color: rgb(39, 39, 39);
  font-family: var(--font-kronaone);
}

.btn-close:focus {
  box-shadow: none !important;
}

.show {
  color: white !important;
}
